html,
body,
.wrapper {
  background-color: #555;
}

.wrapper {
  padding: 65px 0;
}

.board-wrapper {
  width: 500px;
  margin: 0 auto;
  color: white;
}

#board {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin: 15px 0;
}

#loadTestingPositionForm {
  margin: 15px 0 8px 0;
}



